.footer-flex {

    padding: 40 80;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-social {

    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-icons {

    width: 20px;
    height: 20px;
}